.page-header {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
}

#randy-image {
  opacity: 0.9;
}

.background-image {
  display: flex;
  opacity: 0.8;
  margin-top: 10px;
  justify-content: center;
}

.about-randy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
}

#about-header {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

#about-body {
  display: flex;
  justify-content: center;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 10px 10px;
  margin-left: auto;
  margin-right: auto;
}
