.page-header {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  align-items: center;
}

#randy-image {
  opacity: 0.9;
}

.background-image {
  display: flex;
  opacity: 0.8;
  justify-content: center;
  margin-top: 10px;
}

#about-header {
  display: flex;
  justify-content: center;
}

#about-body {
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 10px;
}

.about-randy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
}
