.people-card {
  background: #7f7fd5;
  background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  margin: 1rem;
  padding: 1rem;
  width: 20rem;
  border-radius: 15px;
  display: grid;
  place-items: center;
}

.profile-image {
  border-radius: 5px;
}
