h1 {
  background-color: aliceblue;
  margin: 1rem;
  padding: 1rem;
  border: black 1px solid;
  border-radius: 15px;
}

body {
  display: grid;
  place-items: center;
  background: url(https://bit.ly/3dZEc4E) no-repeat center fixed;
  font-family: "Roboto", sans-serif;
}

.item-container {
  display: grid;
  place-items: center;
  background-color: aliceblue;
  margin: 1rem;
  padding: 1rem;
  border: black 1px solid;
  border-radius: 15px;
}

.list-link {
  text-decoration: none;
  color: black;
  background-color: aliceblue;
  margin: 1rem;
  padding: 1rem;
  border: black 1px solid;
  border-radius: 15px;
}
