.googlePage {
  display: flex;
}

img {
  height: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#googleLogo {
  margin-bottom: 20px;
  padding-top: 300px;
  margin-left: auto;
  margin-right: auto;
}

#textBox {
  height: 40px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 20px;
  border-width: 0.5px;
  border: solid #f8f9fa;
  outline: none;
}

#googleSearchButton {
  text-align: center;
  margin-left: auto;
  margin-right: 5px;
  border: none;
  background-color: #f8f9fa;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  font-family: arial, sans-serif;
  outline: none;
}

#luckyButton {
  text-align: center;
  margin-left: 5px;
  margin-right: auto;
  border: none;
  background-color: #f8f9fa;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: arial, sans-serif;
  font-size: 14px;
  outline: none;
}
