.nav-icon {
  height: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px lightgray solid;
  padding: 1rem;
}

.search {
  height: 2rem;
  text-align: center;
}

.profile-image {
  height: 10rem;
  border-radius: 100px;
}

.settings {
  height: 2rem;
}

.profile-container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
}

.profile-info {
  display: grid;
  grid-template-areas:
    "handle"
    "profile-stats"
    "bio-link";
  width: 80%;
}

.handle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.handle {
  grid-area: handle;
  font-size: 30px;
}

.edit {
  height: 2rem;
}

.profile-stats {
  grid-area: profile-stats;
  display: flex;
  justify-content: space-between;
}

.bio-link {
  grid-area: bio-link;
}
