body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav-icon {
  height: 1.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px lightgray solid;
  padding: 0.1rem 1rem 0.1rem 1rem;
}

.icon-container {
  display: flex;
}

.nav-icon {
  margin-left: 1.5rem;
}

#randy {
  border-radius: 100px;
  border: 1px black solid;
  padding: 0.1rem;
}

.search {
  height: 1.5rem;
  width: 15rem;
  text-align: center;
  outline: none;
  border: 1px lightgray solid;
  background: rgb(250, 250, 250);
  border-radius: 5px;
}

.profile-image {
  height: 10rem;
  border-radius: 100px;
}

.settings {
  height: 2rem;
}

.profile-container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1.5fr 1fr;
  margin: 2rem;
}

.profile-info {
  display: grid;
  grid-template-areas:
    "handle"
    "profile-stats"
    "bio"
    "bio-link";
  width: 80%;
}

.handle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
}

.handle {
  grid-area: handle;
  font-size: 30px;
}

.edit {
  height: 2rem;
}

.profile-stats {
  grid-area: profile-stats;
  display: flex;
  justify-content: space-between;
  height: 2rem;
}

.bio {
  grid-area: bio;
  height: 1.5rem;
}

.bio-link {
  grid-area: bio-link;
  text-decoration: none;
  color: darkblue;
  height: 2rem;
}
