.nav-icon {
  height: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px lightgray solid;
  padding: 1rem;
}

.search {
  height: 2rem;
}

.profile-image {
  height: 8rem;
}

.settings {
  height: 2rem;
}

.profile-container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
}
