.main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.child-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

body {
  background-image: url(.images/starry_sky.jpg);
}
