.main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.child-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#root {
  background-image: url(week7\day1\homework\images\starry_sky_boat_reflection_125803_1920x1080.jpg);
}
